# 环境变量名称 = 值
#TRADER_COMMISSION = 0.002
#TRADER_ATR = True
#TRADER_STOPLOSS = False
#TRADER_PERIOD = 15
#TRADER_LOG_FILE = "./logs/trader.log"
#TRADER_PLOT = True
#TRADER_MODE = "NORMAL"
TRADER_LOG_LEVEL = "DEBUG"
TRADER_EXCHANGE = '{"ty": "BINANCE", "api_key": "","api_secret":""}'
TRADER_DB = "mongodb://chainer:gPVHK8Z7mQkxf4m@chainer.tech:27017/"
#TRADER_DB_NAME = "trader"
#TRADER_WINDOW = 1001
#TRADER_TASKS
#TRADER_CASH = 100000.1
#TRADER_LOCKED=0
#TRADER_STAT = 51
#TRADER_NOTICE = "./scripts/notice.json"
TRADER_API = "0.0.0.0:8000"
#TRADER_AUTH_USERNAME = "admin"
#TRADER_AUTH_PASSWORD = "your_secure_password"
#TRADER_PROTECTED_PATHS = "/admin,/api/admin"
#coinMarketCapAPIKey